table.table {
   border: 1px solid #CCC; font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}
.table {
   border: none;
   border-collapse: collapse;
}
.table td {
   padding: 4px;
   margin: 3px;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
}
input,select {
   text-align: right;
}
.placeholder
{
 color: #aaa;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none; 
margin: 0; 
}
input[type=number] {
-moz-appearance: textfield;
}
.results {
color: #ffffff;
background: #0064b1; /* Old browsers */
background: -moz-linear-gradient(top,  #0064b1 0%, #00457e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0064b1 0%,#00457e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0064b1 0%,#00457e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064b1', endColorstr='#00457e',GradientType=0 ); /* IE6-9 */
}
#Instructions {
	float: left;
	clear: both;
	font-size: 12px;
	line-height: 12px;
	width: 320px;
}
